* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --nav-clr-bg: #21222A;
  --body-clr-bg: #282D35;
  --clr-font-logo: #61DAFB;
  --clr-font-primary: #FFF;
  --clr-font-secondary: #DEEBF8;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--clr-font-primary);
}

.container {
  max-width: 550px;
  margin: auto;
  background: var(--body-clr-bg);
}

/* Navbar */

.navbar {
  background:var(--nav-clr-bg);
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.logo {
  display: flex;
  align-items: center;
  width: 2rem;
  font-weight: 700;
  font-size: 1.4rem;
}

.logo span {
  margin-left: 0.3em;
  color: var(--clr-font-logo);
}

.nav-title {
  color: var(--clr-font-secondary);
  font-weight: 600;
}

/* Body */


.body {
  background: url("./assets/react-icon-large.png") no-repeat right center;
  background-size: 150px;
  display: flex;
  flex-direction: column;
  padding: 3.56em 1.68em ;
}
.body-title {
  letter-spacing: -0.05em;
  margin-top: 0;
}

.facts {
  max-width: 390px;
}

.facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.facts > li::marker {
  color: var(--clr-font-logo);
  font-size: 1.4rem;
}


